[MESSAGES CONTROL]

disable=print-statement,
        singleton-comparison,
        no-member,
        too-few-public-methods

[BASIC]

good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           id,
           df,
           x,
           y

[DESIGN]

max-args=10

[CLASSES]

exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _sour,
                  _columns,
                  _stations,
                  _start,
                  _end,
                  _data,
                  _aggregations
