[MESSAGES CONTROL]

disable=
        no-member,
        too-few-public-methods,
        protected-access,
        import-outside-toplevel,
        duplicate-code,
        too-many-positional-arguments

[BASIC]

good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           id,
           ms,
           df,
           x,
           y

[DESIGN]

max-args=10

[CLASSES]

exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _sour,
                  _columns,
                  _stations,
                  _start,
                  _end,
                  _data,
                  _aggregations
