name: Publish to PyPI
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build the package
        run: python setup.py sdist bdist_wheel
      - name: Check using Twine
        run: twine check dist/*
      - name: Upload to PyPI
        run: twine upload -u meteostat -p ${{ secrets.PYPI_PASSWORD }} dist/*

