name: Unit & E2E Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install Meteostat
        run: python -m pip install . -U
      - name: Install Pytest
        run: python -m pip install pytest
      - name: Run unit tests
        run: cd tests/unit && python -m pytest
      - name: Run E2E tests
        run: cd tests/e2e && python -m pytest

